version: '3.8'

services:
  frontend:
    image: your-frontend-image:latest
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    networks:
      - app-network

  backend:
    image: your-backend-image:latest
    build:
      context: ./backend
    ports:
      - '5000:5000'
    networks:
      - app-network
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/postgres

  db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data: